[2017-03-30 18:02] CodeMan99 opened #2 "What is the goal of this repo?"
Could someone please clarify why this project was started?

The package.json already includes (the very good) [node-fetch](https://github.com/bitinn/node-fetch) tool as a dependancy.

Based purely on the npmjs mailing list article, and the [README feature list](https://github.com/zkat/make-fetch-happen#features) I am unable to tell why the project was started.

Note that I am not nocking here, I a

[2017-03-30 21:31] VictorioBerra commented on #2
Was just about to ask whats wrong with [node-fetch](https://github.com/bitinn/node-fetch)?

[2017-04-01 11:20] zkat commented on #2
@CodeMan99 @VictorioBerra `node-fetch` is explicitly designed to be fairly unopinionated and minimalist in its implementation. `make-fetch-happen` is strictly a wrapper around `node-fetch` that adds a bunch of other bits from the `fetch` API that wouldn't really make sense to have in the "generic" server-side `fetch` implementation: caching, automatic retries, simplified proxy configuration, a def

[2017-04-01 11:21] zkat opened #3 "Cookie jar"
Use `tough-cookie` as the default cookie jar, and allow users to pass in their own cookie jar or disable cookie support entirely.

[2017-04-01 12:17] zkat opened #4 "isomorphic fetch support"
Would be nice to be able to use `make-fetch-happen` in a browser.

It seems reasonably possible to nudge a few bits and pieces around in order to allow this to run on modern browsers. There's already https://npm.im/isomorphic-fetch too, although that uses a much older version of fetch than this would need.

As long as nothing requires core node modules or stuff like `cacache`, we should be good.

[2017-04-01 17:28] kornelski opened #5 "Feature request: use http-cache-semantics package to evaluate cache freshness"
I've created a package that very thoroughly parses and analyses HTTP cache headers. It supports a lot of edge cases and fine details such as the `Age` header and clearing of hop-by-hop headers required for pulling cached responses.

This package has a pretty good cache handling, but I believe the http-cache-semantics has a more complete implementation. I'd be delighted if you leveraged it in make-

[2017-04-01 21:43] zkat commented on #5
Thanks for the suggestion! It sure would be nice to not maintain my own standards implementation for this.

I should look through the package to get a sense of it (and how it would fit into the current code structure), but if you integrate it and it still passes the test suite and doesn't affect the cache manager hookup API, I think I might take this PR.

I can give you a more definitive answer la

[2017-04-01 21:45] zkat commented on #3
Note: this probably means we'll need to do the redirect on our side rather than leaving it to node-fetch, since intermediate cookies are a thing and node-fetch has no hook for it.

[2017-04-01 21:49] zkat opened #6 "Feature: HAR support"
HAR, aka Http Archive, is a format for archiving http requests on a page, preserving metadata and timing information.

There are tools that then allow you to generate shiny network waterfall graphs based on those.

request also has an option to add more fine-grained timing information to the graphs -- though this would likely need to be added to node-fetch itself

[2017-04-02 02:10] zkat commented on #5
Ok! I had the time to snoop through the codebase. I don't think it's quite ready _right now_ to be used by make-fetch-happen, but I think this is a really good factoring of the problem, and it would be fantastic to move the bulk of this logic to an external library. Either way, this is a _really good_ reference to hack in the ugly version into make-fetch-happen, since you've done the work of findi

[2017-04-02 12:13] kornelski commented on #5
* I've added Node 4 support: https://travis-ci.org/pornel/http-cache-semantics
* Currently the library uses format expected by Node and express. `node-fetch`'s `Headers` has a node-specific `.raw()` method which also exposes this format.
* The library is spec-compliant regarding range requests, but it takes the option of making them non-cacheable. A meaningful support would require cache storage t

[2017-04-02 16:39] zkat commented on #5
Awesome! Thanks for answering these questions! Are you interested in trying your hand at integration, or would you rather I do that when I get around to it?

[2017-04-02 16:48] kornelski commented on #5
I'm short on time currently.

[2017-04-02 19:57] zkat commented on #5
ok!

[2017-04-03 07:39] zkat opened #7 "Integrity support"
If the `opts.integrity` option is passed in, it should verify response data according to that, and error if we got bad stuff.

[2017-04-03 08:46] zkat opened #8 "Break down proxy support to exclude pac"
the pac-proxy dependency for `proxy-agent` is _massive_, and it doesn't really seem like a priority for our own proxy support.

Best thing to do is probably to emulate what `proxy-agent` is doing, but with explicit dependencies on the proxy types we want to support.

[2017-04-03 08:50] zkat opened #9 "Get babel-runtime outta there"
seriously it's like several megs. I filed bitinn/node-fetch#258 about this, and hopefully that'll go well. Otherwise, I'm gonna have to seriously consider forking and maintaining the whole fetch shebang. Maybe that's for the best, too -- see #6, #4, and #3. Being able to ship a significantly smaller package would be A+++. See also #8 for that matter.

At least make-fetch-happens still loads pretty

[2017-04-03 08:56] zkat commented on #9
https://github.com/bitinn/node-fetch/issues/258#issuecomment-291084820

It's not a problem. 🎉

[2017-04-03 08:56] #9 closed, assigned to nobody

[2017-04-03 09:02] #7 closed, assigned to zkat

[2017-04-03 09:34] zkat opened #11 "logger"
add an `opts.log` option that includes an `npmlog`-style interface.

Then use it in a few key places. Not too much.

[2017-04-03 10:09] zkat opened #12 "EBADCHECKSUM -> EINTEGRITY"
let's name the error better?

[2017-04-03 17:11] #2 closed, assigned to nobody

[2017-04-04 05:16] zkat commented on #12
This was done by b6cf6f669cae65578e144251afaa95ee5276ead9

[2017-04-04 05:16] #12 closed, assigned to nobody

[2017-04-04 05:17] zkat commented on #4
Eh. I'm gonna close this for now. I've no immediate need to make this isomorphic. It's meant as a QoL improvement thing for node devs anyway :)

[2017-04-04 05:17] #4 closed, assigned to nobody

[2017-04-09 05:43] zkat commented on #5
@pornel do you mind actually tagging a new release with the node@4 support? :) I've got a patch over at #13 that uses your lib. It's hacky, but it works, and it means I can get to other stuff. lol

[2017-04-09 05:50] zkat opened #14 "ca/cafile/key/etc"
These probably have to be passed to `node-fetch` via an agent (siiiiiiiggggghhhhhhh).

[2017-04-09 08:29] zkat opened #16 "Write tests for agent pooling/proxy"
I kinda hacked that stuff in, and testing it will take a bit of work. Should really do it soon. Until then, yolo.

[2017-04-09 08:35] #14 closed, assigned to nobody

[2017-04-09 08:36] zkat commented on #11
Nah. From using pacote I've kinda figured out that just about all my logging needs can be done by adding miscellaneous headers to the response. Closing this.

[2017-04-09 08:36] #11 closed, assigned to nobody

[2017-04-09 08:36] zkat commented on #8
This was also fixed by #14

[2017-04-09 08:36] #8 closed, assigned to nobody

[2017-04-09 08:40] zkat opened #17 "no_proxy support"
`NO_PROXY` requires some special handling -- it can either be `*` or a comma-separated list of domains to match against. If it's `*` or if any of those domains match, we skip proxying that particular request.

[2017-04-09 09:55] zkat opened #18 "refactor"
The codebase is kind of a single big-ass glob right now. refactor it such that it's a bit easier to handle. Probably split it into a few files, too.

[2017-04-09 11:40] kornelski commented on #5
Published as v3.7.3

[2017-04-09 17:15] #5 closed, assigned to zkat

[2017-04-09 17:15] zkat commented on #5
@pornel done :) I rushed through and I really need to get to #18 before the code stops being spaghetti, but it passes tests so whatever 😂

Thanks again!

[2017-04-09 18:32] kornelski commented on #5
Great! Thanks

[2017-04-12 18:30] CodeMan99 commented on #2
Perhaps this info should be presented in the README?

[2017-04-12 19:46] zkat commented on #2
@CodeMan99 maybe? The README seems pretty explicit to me, as you read it, that it's a wrapper _around_ `node-fetch`. Even the first bullet point in the feature list mentions that. There's a section explicitly about options handled by node-fetch, etc. Is there a particular edit you'd suggest?

Note that the README has gotten more filled out, along with the featureset, since you made this issue, so

[2017-04-12 19:54] CodeMan99 commented on #2
Yeah, I did see the improvements. Perhaps my feeling is a non-issue.

Anyway, should you decide to add more info, I would like to see a small narrative before (or in) the [#features](https://github.com/zkat/make-fetch-happen#features) block.

To me anyway, your first reply seemed a little bit more revealing than the references the README has currently.

[2017-04-12 21:33] zkat opened #19 "404 retries? too much?"
The nature of mfh's retry logic is that it'll take a bit of extra time in exchange for improved robustness against unexpected conditions.

The reason for retrying 404s is that sometimes things take a few moments to propagate and become available, and it's nice to not just fail right away if that happens.

That said, I feel like retrying 404s causes some usability issues, where users who try and hi

[2017-04-12 21:41] #19 closed, assigned to nobody

[2017-04-13 18:31] zkat commented on #2
#20 should address this. I'll merge it later if no one comments on it.

[2017-04-15 00:02] zkat opened #21 "notify on retries"
we already inform users about how many retries it took to complete a request. It might be nice to accept a callback for synchronous notifications whenever a retry happens, so users can be modified.

This should not expose any internal datastructures or allow any changes to the retry logic. If users want to control retry, they should use existing settings.

[2017-04-22 21:05] zkat opened #22 "Check for both upper and lowercase proxy options in env"
https://github.com/zkat/make-fetch-happen/blob/latest/index.js#L426-L440

make-fetch-happen looks in the environment for certain proxy settings. I thought originally these were case-insensitive. They're not.

So, add some code to make sure these `process.env` props are checked in both forms.

[2017-04-22 21:09] zkat commented on #21
Implementation note: I *think* this can be implemented by wrapping the retry handler here: https://github.com/zkat/make-fetch-happen/blob/latest/index.js#L312

There should be an option, `opts.onRetry`, that will be called, if present, with the error as the argument. The return value should not be used at all, and the `retryHandler` itself should not be exposed to it. `retryHandler` should be call

[2017-04-24 03:22] #22 closed, assigned to nobody

[2017-04-27 08:24] #17 closed, assigned to nobody

[2017-04-29 07:40] zkat commented on #18
This was pretty much done by #23. Thanks, @cilice!

[2017-04-29 07:40] #18 closed, assigned to nobody

[2017-05-10 05:13] dead-horse opened #26 "can't fetch url which will redirect to another url with different protocol"
[code]

=>

[code]

[code]

node-fetch will use the same agent when request the tow different protocol url.

[2017-05-10 05:14] dead-horse commented on #26
maybe node-fetch should accept tow different options like `httpAgent` and `httpsAgent` to support redirect with different protocol.

[2017-05-12 23:36] zkat commented on #26
ahahah I was literally about to post this issue myself. I wonder why I didn't get notified. The solution to this is for `make-fetch-happen` to do its own redirects, so we can manage proxies and agents as redirects fly through (and cache them?).

In fact, we're gonna have to do that eventually anyway because it's required for supporting cookies.

[2017-05-12 23:51] hemanth commented on #26
Should we just hook [follow-redirects](https://www.npmjs.com/package/follow-redirects) here?

[2017-05-13 00:36] zkat commented on #26
@hemanth that's a bit too low-level for our needs here. Aside from needing to switch between http and https, we need to be able to switch agents on several other parameters, including potentially switching proxies along the redirect route. Basically, we need to call `getAgent()` between each redirect to set a new agent for the specific target.

This would all likely be done automatically by simply

[2017-05-13 00:50] zkat commented on #3
This might be pretty doable once #26 is fixed 🎉

[2017-05-13 13:50] hemanth commented on #26
Phew!

[2017-05-15 13:41] nlkluth commented on #26
I would be interested in tackling this if it is still in need of help!

[2017-05-15 17:09] zkat commented on #26
@nlkluth all yours! Thanks a bunch for the help!

[2017-05-16 20:46] nlkluth commented on #26
Made a crude fix to the first comment, but I could use help on the overall approach. "redirects" and "proxies" and "fly-throughs" are a bit above my head :rofl:

https://github.com/nlkluth/make-fetch-happen/commit/7c851bb2d5c1fcdd4bb6d24cdb74c9d9ce18b3b6

[2017-05-17 09:31] zkat commented on #26
@nlkluth the solution is a bit more involved than this:

1. recursive `fetch` calls need to go back to the toplevel `fetch`. Redirects are cacheable, so the whole cache logic should be followed.
2. `node-fetch-npm` should _always_ receive `opts.redirect=manual`, but if _we_ received `manual`, we need to skip all redirect logic on our side
3. recursive calls to `fetch()` during redirects have the u

[2017-05-17 14:28] nlkluth commented on #26
Awesome, thanks for the guidance!

[2017-05-19 15:14] nlkluth commented on #26
I could use a little more clarification. On 1 and 3, I'm not sure exactly what is meant by redirects using the defaulted top-level fetch. I do see that the user will create a defaultedFetch, but I'm not sure how to approach using that.

I didn't see an agent as mentioned in point 5, but I assume that's because I'm not redirecting properly

Here is what I have so far, but I am using the fetch from

[2017-05-19 17:27] zkat commented on #26
@nlkluth As far as 1 goes, what I meant there is that you should use cachingFetch, which you're using now!

in retrospect about 3, I guess it's enough to just make sure you thread `opts` through, since `defaultedFetch` is just a collection of options.

As far as 5 goes, see https://github.com/nlkluth/make-fetch-happen/blob/latest/agent.js#L28-L30. I guess it'll probably Just Work™ 🤔 we don't set t

[2017-05-19 17:29] zkat commented on #26
Oh! One more note: I am not the original author of `node-fetch-npm` (it's a fork of [`node-fetch`](https://npm.im/node-fetch), and `make-fetch-happens` has a more permissive license than `node-fetch` does. I'm not a lawyer so I don't know how much the code needs to change or if there's other requirements, but we should definitely not be copy-pasting any source code directly from `node-fetch-npm`.

[2017-05-22 23:42] #26 closed, assigned to nobody

[2017-05-24 19:03] zkat opened #29 "proxy keeps node process alive"
There's an issue, probably with the proxy libraries make-fetch-happen is using, where the node process is kept alive if you use m-f-h's proxying agent features. This is likely because some socket somewhere isn't closing, or the libraries are doing some keepalive thing without any timeouts.

To set up a local SOCKS proxy to test with:
1. enable SSH (in OSX, System Preferences -> Sharing -> Remote l

[2017-05-24 19:43] zkat commented on #29
hint: @yyjdelete suggested trying something like https://github.com/JoshGlazebrook/socks/commit/c65706d6b95c1d002fcf61db828b3e11f7622b6e as a patch. I wonder if that's really what it would take. And why it would work.

There's an issue here that @TooTallNate's proxy projects seem to be... dead? So we may need to fork, or find something different. Perhaps it's a good idea to look into switching to

[2017-05-24 19:53] pi0 commented on #29
Test snippet:

[code]

[2017-05-24 20:33] pi0 commented on #29
Tried a simple attempt to catch object leaks.

[code]

You can compare two heap dumps. Seems `HTTPProxyAgent` is keeping process open.

![image](https://cloud.githubusercontent.com/assets/5158436/26424265/dc842c2c-40e5-11e7-9eae-e6d93e222196.png)

[2017-05-24 21:15] TooTallNate commented on #29
Come again? Is there a pull request I need to address?

[2017-05-24 22:25] zkat commented on #29
@TooTallNate oh! Great! Sorry, I saw that it'd been a few years since a release and didn't wanna bother you. I might end up having a pull request for you then -- just gotta figure out why using the proxies is keeping the node process alive 👍

[2017-05-24 22:29] TooTallNate commented on #29
Sounds great! Ya all my proxy modules have mostly been completed, hence the small amount of activity. But I'm here if you need help or find bugs.

[2017-05-24 22:30] zkat commented on #29
@TooTallNate do you have any idea where to look for why this particular bug is happening? It's definitely only when going through one of these proxies.

[2017-05-24 22:33] TooTallNate commented on #29
`process._getActiveHandles()` and/or `process._getActiveRequests()` _might_ shed some light, but in general I've had a hard time making heads or tails of the results in the past.

If you can put together a simplified test case I can take a look.

[2017-05-24 22:49] zkat commented on #29
Will do! I'll push that onto the stack :)

[2017-05-24 23:54] yyjdelete commented on #29
@zkat @TooTallNate
JoshGlazebrook/socks@c65706d is for another issue that socks-proxy can't get response for http/ws. Tested with the example code of `node-socks-proxy-agent` and node 7.9

And found there is already an PR for http as TooTallNate/node-socks-proxy-agent#12.

[2017-05-25 02:37] zkat commented on #29
I'm having a hard time coming up with a repro step isolated from npm itself :( I'll have to take a look at this much later, then, unless someone else picks it up. I've really no clue right now.

[2017-05-25 04:08] zkat commented on #29
Heads-up: The npm-side repro case is going away as of the latest beta 'cause I worked around the dangling socket issue (by calling `process.exit()` directly when commands finish, whereas the CLI would usually let the process exit by itself). This is still an issue for `make-fetch-happen` itself, though.

[2017-05-25 06:16] pi0 commented on #29
@TooTallNate Thanx for your suggestion `_getActiveHandles` helped a lot. This problem should be resolved by calling `unref` on proxy sockets.

[2017-06-07 22:22] TooTallNate commented on #29
@zkat @pi0 Sorry for the radio silence on this one. It's still on my radar I promise.

I'm actually having trouble reproducing the issue locally, using a modified version of the example script in the README:

[code]

When running with squid, works as expected:

[code]

Or with a SSH socks proxy setup to my iMac at home:

[code]

In both cases the process exits as expected (this is with Node 8.0.0)

[2017-06-07 23:02] TooTallNate commented on #29
@pi0 fwiw, this line in your repro sample is not correct:

[code]

icanhazip.com is _not_ an HTTP proxy. It is the _endpoint_ we are trying to connect to in this example. The `PROXY` variable should be set up to a Squid or Socks (or equivalent) proxy server URL, like how @zkat describes in the OP.

[2017-06-07 23:54] zkat commented on #29
@TooTallNate I was using `proxy-agent` before and it was quite nice but had to move away because `pac-proxy-agent` is *massive* deps-wise and it seemed like a ton of MB to pull in for a feature I don't have any immediate need to support.

As far as a repro: I, too, tried to find a minimal repro isolated even to m-f-h but failed to do so. I know the difference was between using a proxy and not, but

[2017-06-08 00:17] TooTallNate commented on #29
PAC being massive was because it was doing transpilation using `regenerator` for versions of Node.js that did not support Generators. `pac-resolver@2` [fixed this issue](https://github.com/TooTallNate/node-pac-resolver/commit/df860eb96ba8490b6a2d5da12cf09d8ae1621d84) by dropping support for those older versions. Hopefully `proxy-agent` would end up being more lightweight at this point.

But I'd al

[2017-06-08 00:20] zkat commented on #29
oh great! I didn't like having to do this logic on m-f-h's end anyway. I'll make an issue to upgrade back to proxy-agent, then.

[2017-06-08 00:22] zkat opened #31 "Switch back to proxy-agent"
#8 was done because of the massive deps that were getting included with pac-resolver. This [was apparently fixed](https://github.com/zkat/make-fetch-happen/issues/29#issuecomment-306962308)!, which means we can take out the m-f-h-side logic for this and just fall back to proxy-agent again. That should simplify the agent impl a bit 👍

Whoever does this should also comb through the code and make sur

[2017-06-28 15:18] axe312ger commented on #4
We are wondering if we help you out here. Would you be interested in a PR adding browser support? :)

[2017-06-28 15:46] zkat commented on #4
If you manage to pull it off, I'll take a PR as long as it doesn't create a bunch of special-case spaghetti. My main concern is that looking at the codebase, making this isomorphic would drop a LOT of features entirely (so it wouldn't be truly isomorphic), and also be pretty difficult since a lot of features lean on peculiarities with `node-fetch-npm`.

[2017-06-29 01:06] zkat opened #33 "Fix test suite on node@8"
I honestly don't even know _why_ it's failing, but the test suite is definitely not working on node@8. I did notice that `node-fetch-npm` is also failing on node@8 but only one hook -- I don't know if that would be the full source of all the errors on our end.

[2017-06-29 10:02] zcei commented on #33
I think it's related to `nock` not intercepting properly with the changes in Node 8 APIs. There is https://github.com/node-nock/nock/pull/929 to fix this.

[2017-07-23 16:54] Turbo87 opened #34 "Thanks!"
Unfortunately GitHub does not have a "Thank You" button yet so here it goes: Thank you for this awesome little library. We've moved https://github.com/lerna/lerna-changelog over to it lately and it made everything so much easier :)

[2017-07-23 16:54] #34 closed, assigned to nobody

[2017-07-24 04:41] Lange opened #35 "`timeout` option doesn't seem to be respected"
Hello! :wave:

I'm using `make-fetch-happen` in some tests. These tests involve uploading very large ZIP files, then waiting for a long time as the server processes these ZIP files, then finally getting a response.

`make-fetch-happen` was timing out in the period after the upload finished but while it was still waiting for this response. I tried providing a `timeout` value, but that didn't help.

[2017-07-24 04:56] zkat commented on #35
You wanna give that patch a whirl and see if it does the trick? :)

[2017-07-24 04:59] Lange commented on #35
Sure! I'll see what I can do in the morning.

[2017-07-24 13:48] Lange commented on #35
Hm, I'm having a few issues:

1. If the `timeout` option is indeed not being properly respected, then I'm unsure how or why the current `timeout` tests are passing.
2. A fresh clone of `make-fetch-happen` fails tests on the following system configurations for me:
  - Windows 10 x64, Node v8.1.2, npm v5.3.0
  - Ubuntu 16.04.2 x64, Node v.8.2.1, npm v5.3.0

I see that the current test matrix does no

[2017-07-24 13:54] Lange commented on #35
Ah gosh I'm sorry, I just saw https://github.com/zkat/make-fetch-happen/issues/33. I'll work under node 7 for now.

[2017-07-24 16:32] Lange commented on #35
Okay, I think I might understand the issue:

I believe that there are multiple timeout timers in play. The current tests only test for very short timers. These tests pass, because `agentkeepalive` defaults its own timeout to 30 seconds. Any test under this duration would pass. It is only when a test needs to exceed a duration of 30 seconds that this other, unaccounted for timeout would fire, causi

[2017-07-25 08:41] #33 closed, assigned to nobody

[2017-07-25 08:51] zkat commented on #35
It looks like `agentkeepalive` has two kinds of sockets with their own individual timeout settings?

The `timeout` setting itself is what acts on "working" sockets (aka sockets that have a current http request running, vs "free" sockets that are waiting for a new request to start), so I think it's actually totally fine to set _both_ the `node-fetch-npm` timeout _and_ the `agentkeepalive` timeout.

[2017-07-25 17:55] Lange commented on #35
I've been trying to add tests for my change. I have never used `tap` before so I'm not really sure what its error output here means. I've tried to read the docs and search for more info, but I'm not really sure what my test is doing wrong here.

Here is my rudimentary test:
[code]

And here is the output I get from `npm t`:
[code]

[2017-08-19 18:34] LINKIWI opened #38 "npm@5 does not fail gracefully on malformed `Vary` response header from registry"
*This issue was originally opened against `npm/npm` at https://github.com/npm/npm/issues/18208 but I believe the scope of the problem applies only to `make-fetch-happen`, so I am moving it here.*

**Core problem**
The `npm` v5 client fails on cached installs if the original response (which was stored in the cache) contains a malformed HTTP `Vary` header.

**Symptom**
Installations for any package

[2017-08-19 19:59] zkat commented on #38
Thanks for the thorough report! Would you like to give a patch a shot? I'm not sure what the exact right place to fix this is, either. It's interesting that this only happens when you're dealing with cached stuff, which makes me suspect you're right -- otherwise, my prime suspect would be [`node-fetch-npm`](https://github.com/npm/node-fetch-npm).

Your suggestion about catching things seems reason

[2017-08-21 11:57] LINKIWI commented on #38
Hm, I agree that blind-catching a `TypeError` feels heavy handed, but the logic path invoked by `req.headers.get` is quite short and the scope for the try-catch seems limited. I think this is a reasonable solution. I'll give this patch a try and see what I can come up with. Thanks for your input!

[2017-08-24 00:39] #35 closed

[2017-08-24 07:37] zkat commented on #38
@LINKIWI I'm more wondering why the heck `Headers` even errors on a read. It's just plain weird to me?

[2017-09-01 02:09] LINKIWI commented on #38
@zkat Just a heads up - I've opened npm/node-fetch-npm#7 to address this, whenever you get a chance to take a look

[2017-09-14 15:17] miiihi opened #41 "Fetching package from server which sends Content-type application/gzip fails integrity check"
**Problem**:
Fetching from a server, that serves the package with Content-type 'application/x-tgz' header, causes node-fetch to unpack the content before the integrity check is done and thus integrity check fails.

**Solution**:
When fetching with integrity check, we need to disable node-fetch compress, so that no decompression is made before the check.

**Background**
We are using [Nexus ](https:

[2017-09-14 21:32] #41 closed, assigned to nobody

[2017-09-15 08:06] martinhyldgaard opened #43 "Promise not completing if timeout is reached"
When fetching with a timeout set, and the server takes longer than the timeout to reply, it seems the promise does not complete.

Code to reproduce:
[code]
When using node-fetch promise is rejected and the catch is reached on timeout. I've used this mountebank imposter to test:

[code]
If the wait of the imposter is lowered to below the timeout the code completes as expected, with promise accepted

[2017-09-22 15:03] bitinn opened #44 "Clarify make-fetch-happen is using a fork of node-fetch"
Hi,

I am sorry to be a bit pedantic here, as `node-fetch-npm` and `node-fetch` have identical API.

But I am seeing a few comments that confuses `node-fetch-npm` with `node-fetch`, and the description here states "*make-fetch-happen is a Node.js library that wraps node-fetch with additional features it doesn't intend to include*" is less than ideal. As `node-fetch` is not a direct dependency.

I

[2017-09-23 08:43] zkat commented on #44
Oh, I think that was probably written before we forked off `node-fetch-npm`. I would gladly take a PR to reword this in a way you find satisfactory, if you would be interested in that?

As far as other concerns go: it's very important to me that `node-fetch` get its fair share of credit. I might not have time to do it at the moment but it's very much the intention to go ahead and sync up with main

[2017-09-23 10:27] bitinn commented on #44
No worries about credits, I am not here for that. Nor am I saying `node-fetch-npm` needs to stay in sync with upstream.

My suggestion is simply: because `make-fetch-happen` has caching support and says it wraps around `node-fetch`, people will likely use this package and not realise it's actually wrapping a fork of node-fetch.

I am opening this ticket as a precaution, because I started to see so

[2017-09-23 10:33] bitinn commented on #44
Open #45 as a suggestion.

[2017-10-12 08:25] arve0 opened #46 "Conditional request does not transform headers to lowercase before validating cache"
Setting when setting headers, m-f-h does not resolve request from cache:

[code]
Output
[code]
[runkit](https://runkit.com/embed/w0kninu16ie7)

Is this normal?

[2017-10-12 13:53] arve0 commented on #46
Changing header to be lowercase solves this:

[code]

Not sure why. Headers from `res.headers.raw()` seem to be the same for both results.

Headers returned with `Accept`:
[code]

Headers returned with `accept`:
[code]

[2017-10-12 19:15] zkat commented on #44
#45 was merged. Closing this.

[2017-10-12 19:15] #44 closed, assigned to nobody

[2017-10-13 07:36] SimenB commented on #46
It's a bug, isn't it? Http headers are AFAIK case-insensitive.

[2017-10-13 08:27] arve0 commented on #46
Yes, re-opening. Debugged it here: https://github.com/zkat/make-fetch-happen/blob/latest/index.js#L233

Keys in headers object is not converted to lower case.

[2017-10-16 19:57] arve0 commented on #46
OK, debugging some more, I cannot pinout the cause exactly. I'm having difficulties finding the flow of the code. I see that the request goes to CacheManager.put, but then it returns with status code 200 instead of 304.

http-cache-semantics seem to behave as it should. The only thing I have noticed, is that the request is sent and cached using `new fetch.Headers` in node-fetch-npm, which transfor

[2017-10-16 20:06] arve0 commented on #46
Removing `.toLowerCase()` in node-fetch-npm fixes the issue.

[2017-11-14 23:32] #21 closed, assigned to nobody

[2018-03-22 03:20] Jackfinal opened #51 "agent.js error Cannot read property 'startsWith' of null"
- Development Environment：

`node -v`
`v8.10.0`
`npm -v`
'5.6.0'
windows7 64

- STEP
run  `npm install`

<details>
<summary>debug output</summary>
<pre>
0 info it worked if it ends with ok
1 verbose cli [ 'D:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'D:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'install' ]
2 info using npm@5.6.0
3 info using node@v8.10.

[2018-03-22 08:55] zkat commented on #51
What's the proxy config you're using?

[2018-03-22 09:03] Jackfinal commented on #51
`
npm config ls
; cli configs
metrics-registry = "https://registry.npm.taobao.org/"
scope = ""
user-agent = "npm/5.6.0 node/v8.10.0 win32 x64"

; userconfig C:\Users\a\.npmrc
config = "registry"
proxy = null
registry = "https://registry.npm.taobao.org/"
strict-ssl = false

; builtin config undefined
prefix = "C:\\Users\\a\\AppData\\Roaming\\npm"

; node bin location = D:\Program Files\nodejs\node.

[2018-03-22 09:05] zkat commented on #51
@Jackfinal that's weird. Try `npm config delete proxy` and try again. I'll leave this issue open because we should still not be crashing when a value like that makes it in.

[2018-03-22 09:12] zkat commented on #51
Could you also do: `$ node -p 'Object.keys(process.env).filter(k => k.match(/term/i)).map(k => [k, process.env[k]])` in your terminal and tell me what that says?

[2018-03-22 09:14] Jackfinal commented on #51
i have a mistake, it’s config set registry,when it’s http://registry.npm.taobao.org/.  The question will be come ,it’s https://registry.npm.taobao.org/ that is ok.

[2018-03-22 09:14] Jackfinal commented on #51
i have a mistake, it’s config set registry,when it’s http://registry.npm.taobao.org/.  The question will be come ,it’s https://registry.npm.taobao.org/ that is ok.

[2018-03-22 09:15] zkat commented on #51
did changing your registry url to be https fix it?

[2018-05-01 16:14] ranouf opened #52 "Deploy on Azure failed"
Hi,

I have a problem when I deploy my angular app with your package:
npm install
npm ERR! path D:\home\site\repository\src\client\node_modules.staging\npm-d4c06741\node_modules\libnpmhook\node_modules\npm-registry-fetch\node_modules\make-fetch-happen\node_modules\http-proxy-agent\node_modules\agent-base\node_modules\es6-promisify\node_modules\es6-promise
npm ERR! code EINVAL
npm ERR! errno -4071

[2018-05-09 10:08] ghost opened #53 "Security advisory on http-proxy-agent & https-proxy-agent"
The joys of npm audit :)

https://nodesecurity.io/advisories/607
Versions of http-proxy-agent before 2.1.0 are vulnerable to denial of service and uninitialized memory leak when unsanitized options are passed to Buffer.

https://nodesecurity.io/advisories/593
Versions of http-proxy-agent before 2.1.0 are vulnerable to denial of service and uninitialized memory leak when unsanitized options are pas

[2018-05-09 11:48] SimenB commented on #53
This repo uses 2.1.0 or newer for both, though?

https://github.com/zkat/make-fetch-happen/blob/508c0af20e02f86445fc9b278382abac811f0393/package.json#L39-L40

[2018-05-09 13:17] ghost commented on #53
You're right, npm-profile is the issue.  txs

[2018-05-09 13:17] #53 closed, assigned to nobody

[2018-05-10 23:21] CuAnnan opened #54 "Denial Of Service Attack in outdated http-proxy-agent dependency"
https://nodesecurity.io/advisories/593
and
https://nodesecurity.io/advisories/607

[2018-05-10 23:35] CuAnnan commented on #53
Yeah, sorry about that. Was about to close.

[2018-05-10 23:36] #54 closed, assigned to nobody

[2018-05-22 05:24] heri16 opened #55 "Add checkServerIdentity to auto-agent"
Could we have the full node TLS options like checkServerIdentity available from the make-fetch-happen API?

[2018-05-29 10:55] xzyfer opened #56 "Error when first argument is a Request instance"
The documentation states

However using a `Request` instance results in an error.

[code]

From a glance at the code the first parameter to `fetch` is generally assumed to be a string.

[2018-06-07 04:29] gtramontina opened #57 "Default retry behavior"
Hello there! First of all, thank you for putting this module together. Enabling caching is a much needed addition to `fetch`.

One thing I noticed, though, is the default retry behavior. If no `retry` options are configured, `make-fetch-happen` will end up using the [default values that `promise-retry`](https://www.npmjs.com/package/promise-retry#promiseretryfn-options) sets (`10` at the time of t

[2018-06-12 11:09] heri16 opened #58 "This library leads to insecure https connectivity"
There are many reports on the lack-lustre security of many ciphers used as the default in this library.
SSLv3 has been proven to be insecure.

We should add support for tls options such as `secureProtocol` and `ciphers`, `ecdhCurve`, `honorCipherOrder`, and `servername`.

[code]

[2018-07-02 19:06] zkat commented on #57
tbh, retrying is one of the core features of this library -- it won't retry things that "shouldn't" be retried (such as POSTs), but it's intended to be HTTP-compliant on this front.

It's possible that the default retries are a bit _too_ aggressive, but I'm inclined towards having the library try _pretty hard_ to retry, by default, even if it slows things down a lot.

How did it bite you, specific

[2018-07-02 19:06] zkat commented on #52
This seems like a weird Windows/npm bug, not a bug with m-f-h itself.

[2018-07-02 19:06] #52 closed, assigned to nobody

[2018-07-03 00:01] gtramontina commented on #57
Yeah… my tests were timing out because the requests "never ended". This is probably because I failed to read the readme thoroughly (where it says: `Automatic HTTP-semantics-aware request retries`) and was expecting `make-fetch-happen` to behave as similar to `fetch` as possible unless configured differently. Thanks for clarifying, though! I'll close this issue. Sorry about this. 😄

[2018-07-03 00:01] #57 closed, assigned to nobody

[2018-07-03 06:03] zkat commented on #57
No worries. It's good feedback!

Defaulting the retry object can be a bit tricky but if you're interested in providing better defaults, please go ahead and pr it! Having the retries take so long by default that it starts timing out tests is probably not what we want, after all.

[2018-07-10 13:33] silverwind commented on #31
`proxy-agent` now [supports parsing proxy variables](https://github.com/TooTallNate/node-proxy-agent/commit/787ede000e24e1bf296d3b8972c2887c9a41dbf5) from the environment, so the environment parsing done in module can potentially be removed  with such a switch.

[2018-07-10 19:29] zkat commented on #31
@silverwind you wanna PR that? :)

[2018-07-11 08:09] silverwind commented on #31
Maybe later, I see that `proxy-agent` currently prints a nasty warning on installation, so let's wait until https://github.com/TooTallNate/node-proxy-agent/issues/27 is resolved.

[2018-08-12 21:27] RuneKR opened #59 "Broken No Proxy"
I have an internal feed for my own private packages that are scoped with @myscope. Every other packages such as the dependencies of @myscope/*  should be loaded normally from the public npm registry.

When i try to install a package like *@myscope/cool-package* npm still tries to use the proxy and ignores .npmrc no_proxy.

**.npmrc content**
[code]
node: 6.9.4
npm: 6.1.0

[2018-08-12 22:16] RuneKR commented on #59
So i found out my no_proxy variable should be named no-proxy in the .npmrc. and wildcards (*) are not supported

[2018-08-12 22:33] #59 closed, assigned to nobody

[2018-10-10 17:30] jfahrenkrug opened #60 "SOCKS Proxy support?"
It's difficult for me to find out whether or not make-fetch-happen (and by extension npm) fully supports SOCKS proxies (esp. 5 and 5h).

`socks5h://` would be great, so that DNS requests could be handled on "the other side" of the proxy. This would make the following possible:

- working with private npm registries that only exist inside of a corporate network
- connecting to that corporate networ

[2019-01-07 14:00] gribnoysup opened #65 "Feature request: customize retry strategy"
Hey-o! Thanks for the amazing library 🎉👏

I was wondering if you would be open to an idea of making it possible to configure the retry strategy through some kind of API exposed by the library.

In my specific use case, I would like to enable retries for 404 response codes (exactly for the reasons described in https://github.com/zkat/make-fetch-happen/issues/19) and POST requests (yeah, I know, but

[2019-02-13 15:32] jjimenez commented on #29
sorry to revive an old topic and I apologize for any misunderstanding of how things work in advance.

We recently hit this issue on our project due to being behind a proxy when doing our project install.  I've tried to chase the issue down and it seems like the agent-base fix referenced here
https://github.com/TooTallNate/node-agent-base/pull/18
which brings agent-base to 4.2.1 would fix the issue

[2019-02-18 18:38] zkat commented on #29
@jjimenez https://github.com/npm/cli/commit/6b70c02eeadbbdc662451c271c7bea84d62b981d I've bumped it in `release-next`, so it should be included in the next npm release.

I have also published an npm canary, if you'd like to test to confirm this actually got fixed for you. You can try it using `npx npmc@6.8.0-canary.2 install` and see if you still get the proxy hangups!

[2019-02-18 18:38] #29 closed, assigned to nobody

[2019-02-19 22:34] jjimenez commented on #29
Thanks @zkat I'll see about running a local test!

[2019-02-21 14:15] JannikZed opened #67 "SyntaxError: Unexpected token N in JSON at position 4 while parsing near '404 Not Found'"
When making some tests with make-fetch-happen I faced the following problem:
[code]

I'm using a http proxy. The code look likes this:

[code]

I was using plain node-fetch before and just replaced it now with make-fetch-happen to add our proxy servers.
Do I miss something?

[2019-03-02 20:33] silverwind opened #68 "Support unix sockets"
Along the lines of "features node-fetch doesn't intend to include" would be support for fetching from unix sockets. For the URL format, one option is to support the same format [got supports](https://github.com/sindresorhus/got#unix-domain-sockets) like

[code]

[2019-05-20 22:40] zkochan commented on #68
Until this is not supported in `make-fetch-happen` you may use a fork of node-fetch. [node-fetch-unix](https://github.com/liangxingchen/node-fetch-unix) adds unix sockets support to node fetch

[2019-06-18 16:26] stuartf commented on #67
You need to do something like:

    res = await fetch('https://www.XXXX.com/' + companyid + '/XXXX.json?filter=all&limit=50&offset=' + x, {
        method: 'GET',
        headers: headers,
        proxy: 'https://XXXX'+sessionrand+':XXXXX@servercountry-nl.XXXXXXy.io:22225'
    })
    if (res.ok) {
        var source = await res.json()
    } else {
        // Handle http errors here
    }

[2019-06-18 17:05] zkat commented on #67
^ That's the solution. It looks like your proxy setup is having issues, so you need to make sure the request is Ok before calling `.json()`.

[2019-08-19 00:50] xzyfer commented on #65
When using GraphQL for inter-service communication it's common for those requests to be POST by default, often without the option of using GET as a viable alternative (due to query string length restrictions.)

[2019-09-29 14:57] trivikr opened #69 "Release 5.0.0 missing from GitHub releases"
This was pointed out in https://github.com/lerna/lerna-changelog/pull/142#issuecomment-536295201

- As per npmjs, v5.0.0 of make-fetch-happen was released 2 months ago ([link](https://www.npmjs.com/package/make-fetch-happen))
- However, this version is not visible in GitHub releases ([link](https://github.com/zkat/make-fetch-happen/releases))

Is there some place we can view release notes for v5.0

[2019-10-01 19:33] lmeyerov opened #70 "Failing on typescript install (large modules?)"
See: https://github.com/nodejs/node/issues/29364

Steps to reproduce (from a docker that repeatedly fails):

[code]

Also failed on node 12.1.

cc @isaacs  as it seems you have been active on `npm\make-fetch-happen\cache.js` and the lines in question..

[2019-10-01 21:18] lmeyerov commented on #70
Fun, narrowed it down to something reproducible around env flag `READABLE_STREAM`.

`Dockerfile`:

[code]

Trigger: `sudo docker build -t mytest:1 -f ubuntu.Dockerfile .`

If you comment out `READABLE_STREAM`, it works.

[2019-10-03 04:36] isaacs commented on #69
https://github.com/npm/make-fetch-happen/blob/latest/CHANGELOG.md

[2019-10-03 14:50] #69 closed, assigned to nobody

[2019-11-05 08:26] ma-jahn opened #75 "Audit Issue - Machine-In-The-Middle"
The dependency https-proxy-agent in version < 2.2.3 comes with a vulnerability:
https://www.npmjs.com/advisories/1184

Can you please upgrade to the latest version (2.2.4 or 3.0.1) and make a release?

[2020-04-05 12:46] #46 closed, assigned to nobody

[2021-11-04 21:25] tigt commented on #3
Would this complicate the cache logic? I’d love to use it if it became a feature/help make it a feature, but I’m unsure about the interactions between cookies, `cache-control: private`, and the `credentials` argument.